#travellers_info_panel {
  --gestTravellerScale: 0.14;

  .gest_traveller_row {
    margin-bottom: 4px;

    .gest_row_title {
      // font-weight: 700;
      // font-size: large;
      // font-size: small;
    }

    .gest_traveller_image_container {
      width: calc(var(--gestTravellerScale) * 302px);
      height: calc(var(--gestTravellerScale) * 277px);

      .gest_traveller_image {
        width: calc(var(--gestTravellerScale) * 302px);
        height: calc(var(--gestTravellerScale) * 277px);
        border: 1px solid black;
        border-radius: 5%;
        box-shadow: none;
      }
    }
  }

  .gest_traveller_row.gest_none {
    display: none;
  }
}
