#gest_card_area {
  // background-color: yellow;
  --gestCardScale: var(--rightColumnScale) * var(--gestCardSizeScale);

  // .gest_events_deck,
  // .gest_travellers_deck {
  //   box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  // }
}

#gest_decks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  .gest_title {
    font-weight: bold;
    font-size: large;
  }

  .gest_card_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;

    .gest_card_stock {
      box-sizing: border-box;
      position: relative;
      height: calc(var(--gestCardScale) * 259px);
      width: calc(var(--gestCardScale) * 150px);
      // background-color: blue;
      border-radius: calc(var(--gestCardScale) * 5px);
    }

    .gest_deck_counter_text {
      cursor: default;
      font-weight: bold;
      font-size: calc(var(--gestCardScale) * 30px);
      // letter-spacing: calc(var(--gestCardScale) * -1px);
    }
  }
}
