@use 'sass:math';

#information_button {
  // border: 1px solid #777;
  border-radius: 50%;
  // box-shadow: 2px 2px 5px black;
  // background-color: gray;
  background-color: transparent;

  // margin: 0px 5px;
  // margin-top: -38px;
  cursor: pointer;
  // transform: translateY(0);
  // transition: transform 0.4s, margin 0.4s;

  width: 50px;
  height: 50px;
  // margin: 4px;
  // margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  .information_modal_icon {
    width: 40px;
    height: 40px;
    background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" /></svg>');
  }

  &:hover {
    .information_modal_icon {
      width: 48px;
      height: 48px;
    }
  }
}

#popin_information_modal_underlay {
  background-color: #000 !important;
}

.information_modal {
  // background-image: url("img/background_paper.jpg");
  background-color: white;
  background-size: cover;
  border-radius: 8px;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px;
  border: 1px solid black;
  // width: 95%;
  max-width: 1200px;
  // margin: 50px 0px;
  min-width: 640px;

  .information_modal_closeicon {
    background-color: #a47a77;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -18px;
    right: -18px;
    font-size: 90%;
    color: white !important;
    border: 1px solid #dfbda8;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: #ccc !important;
      transform: scale(1.1);
    }

    i {
      margin-top: -2px;
    }
  }

  h2 {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 0px;
    padding: 7px 0px;
    border-bottom: 1px solid black;
  }

  #information_modal_content {
    min-height: 200px;

    .information_modal_tabs {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .information_modal_tab {
        flex-grow: 1;
        width: 20%;
        background-color: rgb(30, 20, 17, 0.5);
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding: 4px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;

        span {
          font-weight: bold;
          font-size: large;
          // width: 100%;
          text-align: center;
          // margin-bottom: calc(var(--paxRenMapScale) * 8px);
        }
      }

      .information_modal_tab[data-state='selected'] {
        background-color: transparent;
        border-bottom: none;
        cursor: auto;
      }

      // .pr_information_modal_tab:before {
      //   content: " ";
      //   display: block;
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 100%;
      //   height: 100%;
      //   opacity: 0.6;
      //   // background-color: ivory;

      //   z-index: -1;
      // }
    }

    .information_modal_tab:first-child {
      border-left: none !important;
    }

    .information_modal_tab:last-child {
      border-right: none;
    }

    #gest_cardsInfo {
      max-height: 75vh;
      overflow-y: auto;
      padding: 16px;
      --gestCardScale: 1.23;

      .gest_section_title {
        font-weight: bold;
        margin-bottom: 4px;
      }

      .gest_row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
      }

      .gest_card_side[data-resolved=true] {
        opacity: 0.7;
      }
    }

    #gest_orderJustice {
      padding: 16px;

      .gest_row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // align-items: center;
        gap: 8px;
      }
    }

    #gest_robSummary {
      padding: 16px;
      --gestForceScale: 0.857;

      .gest_row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // align-items: center;
        gap: 8px;
      }

      .gest_title {
        font-weight: 700;
        font-size: large;
      }

      .gest_section_title {
        font-weight: 700;
      }

      #gest_nottingham_image {
        background-image: url('img/nottingham.jpg');
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }

      .gest_log_die {
        --gestTokenScale: 0.7;
        // position: relative;
        // top: -3px;
        // margin-top: 3px;
        // vertical-align: middle;
      }
    }

    #gest_royalInspectionRound {
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .gest_row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // align-items: center;
        gap: 8px;
      }
    }

    #gest_travellers {
      padding: 16px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      flex-wrap: wrap;
      max-height: 75vh;
      overflow-y: auto;

      .gest_traveller_info_row {
        // height: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;
        min-width: 530px;
        max-width: 530px;

        // background-color: yellow;

        .gest_traveller_image {
          min-width: 151px;
          min-height: 139px;
        }

        .gest_traveller_stats_container {
          .gest_row {
            .gest_traveller_name,
            .gest_traveller_defense {
              font-weight: bold;
            }

            .gest_traveller_deck_count {
              font-style: italic;
            }

            .gest_rob_result {
              font-weight: bold;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}

.gest_traveller_image {
  background-image: url('img/travellers.jpg');
  background-size: 400% 200%;
}

.gest_traveller_image[data-image='RichMerchant'] {
  background-position-x: 66.66666667%;
  background-position-y: 100%;
}

.gest_traveller_image[data-image='NobleKnight'] {
  background-position-x: 0%;
  background-position-y: 100%;
}

.gest_traveller_image[data-image='Monks'] {
  background-position-x: 100%;
  background-position-y: 0%;
}

.gest_traveller_image[data-image='ThePotter'] {
  background-position-x: 33.3333333%;
  background-position-y: 100%;
}

.gest_traveller_image[data-image='TheMillersSon'] {
  background-position-x: 66.66666667%;
  background-position-y: 0%;
}

.gest_traveller_image[data-image='BishopOfHereford'] {
  background-position-x: 0%;
  background-position-y: 0%;
}

.gest_traveller_image[data-image='GuyOfGisborne'] {
  background-position-x: 33.3333333%;
  background-position-y: 0%;
}

.gest_traveller_image[data-image='RichardAtTheLea'] {
  background-position-x: 100%;
  background-position-y: 100%;
}

.gest_royal_inspection_info {
  .gest_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;

    .gest_list_item {
      font-weight: bold;
      margin-left: 8px;
    }
  }
}

.gest_arrow {
  background-image: url('img/arrow.svg');
  min-width: 52.7px;
  max-width: 52.7px;
  min-height: 7.33px;
  max-height: 7.33px;
  background-repeat: no-repeat;
  margin-top: 6px;
}