@use 'sass:math';
@use 'sass:map';
@use '../base';

#gest_game_map {
  background-image: url('img/board.jpg');
  background-size: calc(
      var(--leftColumnScale) * var(--mapSizeMultiplier) * 1500px
    )
    calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 1924px);
  background-repeat: no-repeat;
  // grid-column: 1 / span 1;
  // grid-row: span 1;
  position: relative;
  // height: 2318px;
  // width: 1500px;
  height: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 1924px);
  width: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 1500px);
  // box-shadow: rgb(0 0 0) 2px 2px 8px;
  box-shadow: 1px 1px 5px #000;
  // transform-origin: top left;
  --gestMapScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
  --gestMarkerScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
  --gestTokenScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
  --gestForceScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
}

.gest_initiative_track_select {
  transform: rotate(-5deg);
  border-radius: 5%;
}

.gest_initiative_track_select.gest_selectable {
  cursor: pointer;
  border: calc(var(--gestMapScale) * 7px) solid base.$selectable-color;
  z-index: 1;
}

.gest_initiative_track_select.gest_selected,
.gest_initiative_track_select.gest_selectable:hover {
  cursor: pointer;
  border: calc(var(--gestMapScale) * 7px) solid base.$selected-color;
  z-index: 1;
}

#gest_map_spaces {
  position: absolute;
  // left: 91px;
  // top: 89px;
  left: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 0px);
  top: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 0px);
  height: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 1924px);
  // width: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 0.6875 * 1375px);
  width: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 1500px);

  g {
    height: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 1986px);
    width: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 1375px);
  }
  // width: 819px;
  // height: 402px;
  // background-color: blue;

  .gest_map_space {
    fill: transparent;
    // fill: base.$selected-color;
    // fill-opacity: 25%;
    // stroke: base.$selected-color;
    // stroke-width: 3;
    // cursor: pointer;
    // z-index: 50;
    transform: translate(
        calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 234px),
        calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 102px)
      )
      scale(calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 0.75));
  }

  .gest_map_space.gest_selectable {
    fill: base.$selectable-color;
    fill-opacity: 15%;
    stroke: base.$selectable-color;
    stroke-width: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 16);
    cursor: pointer;
    z-index: 50;
  }

  .gest_map_space.gest_selected {
    fill: base.$selected-color;
    fill-opacity: 25%;
    stroke: base.$selected-color;
    stroke-width: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 16);
    cursor: pointer;
    z-index: 50;
  }

  .gest_map_space.gest_selectable:hover {
    fill: base.$selected-color;
    stroke: base.$selected-color;
  }
}

#gest_map_spaces.gest_selectable {
  z-index: 50;
}

.gest_bridge_location {
  position: absolute;
  height: calc(var(--gestMapScale) * 60px);
  width: calc(var(--gestMapScale) * 60px);
  border-radius: 5%;
  // background-color: yellow;
  // opacity: 0.5;
}

.gest_bridge_location.gest_selectable {
  cursor: pointer;
  box-shadow: 0px 0px 0px calc(var(--gestMapScale) * 4px) base.$selectable-color !important;
}

.gest_bridge_location.gest_selected {
  cursor: pointer;
  box-shadow: 0px 0px 0px calc(var(--gestMapScale) * 4px) base.$selected-color !important;
}

.gest_bridge_location[data-has-bridge='true'] {
  background-image: url('img/tokens.png');
  background-size: 400% 100%;
  // border: 1px solid black;
  border-radius: 20%;
  // background-color: burlywood;
}

.gest_marker_space {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: yellow;
  // opacity: 0.5;
}

.gest_justice_order_track {
  position: absolute;
  height: calc(var(--gestMapScale) * 87px);
  width: calc(var(--gestMapScale) * 87px);

  // background-color: yellow;
  // opacity: 0.5;
}

.gest_royal_inspection_track {
  position: absolute;
  height: calc(var(--gestMapScale) * 80px);
  width: calc(var(--gestMapScale) * 80px);
  display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: yellow;
  // opacity: 0.5;
}

.gest_parish_status_box {
  position: absolute;
  height: calc(var(--gestMapScale) * 86px);
  width: calc(var(--gestMapScale) * 86px);
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: yellow;
  // opacity: 0.5;
}

.gest_initiative_track {
  position: absolute;
  height: calc(var(--gestMapScale) * 80px);
  width: calc(var(--gestMapScale) * 80px);
  display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: yellow;
  // opacity: 0.5;
}

#Carriage_usedCarriages {
  position: absolute;
  height: calc(var(--gestMapScale) * 153px);
  width: calc(var(--gestMapScale) * 153px);
  display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: yellow;
  // opacity: 0.5;
}

#MerryMen_prison {
  position: absolute;
  height: calc(var(--gestMapScale) * 10px);
  width: calc(var(--gestMapScale) * 10px);
  display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: yellow;
  // opacity: 0.5;
}

.gest_track_marker {
  box-sizing: border-box;
  border-radius: 50%;
  background-image: url('img/markers.png');
  background-size: 300% 100%;
  min-height: calc(var(--gestMapScale) * 69px);
  min-width: calc(var(--gestMapScale) * 62px);
  max-height: calc(var(--gestMapScale) * 69px);
  max-width: calc(var(--gestMapScale) * 62px);
}

#royalFavourMarker {
  background-position-x: 50%;
}

#royalInspectionMarker {
  background-image: url('img/tokens.png');
  background-size: 400% 100%;
  background-position-x: math.div(2, 3) * 100%;
  border-radius: 0%;
  min-height: calc(var(--gestMapScale) * 75px);
  min-width: calc(var(--gestMapScale) * 75px);
  max-height: calc(var(--gestMapScale) * 75px);
  max-width: calc(var(--gestMapScale) * 75px);
}

#robinHoodEligibilityMarker {
  background-position-x: 0%;
}

#sheriffEligibilityMarker {
  background-position-x: 100%;
}

.gest_forces {
  position: absolute !important;
  display: flex;
  gap: calc(var(--gestMapScale) * 8px);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // background-color: yellow;
  // opacity: 0.5;
}
