@use 'sass:math';
@use 'sass:map';
@use '../base';

#gest_game_map {
  background-image: url('img/board.jpg');
  background-size: calc(
      var(--leftColumnScale) * var(--mapSizeMultiplier) * 1500px
    )
    calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 1942px);
  background-repeat: no-repeat;
  // grid-column: 1 / span 1;
  // grid-row: span 1;
  position: relative;
  // height: 2318px;
  // width: 1500px;
  height: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 1942px);
  width: calc(var(--leftColumnScale) * var(--mapSizeMultiplier) * 1500px);
  // box-shadow: rgb(0 0 0) 2px 2px 8px;
  box-shadow: 1px 1px 5px #000;
  // transform-origin: top left;
  --gestMapScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
  --gestMarkerScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
  --gestTokenScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
  --gestForceScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
}

.gest_marker_space {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gest_justice_order_track {
  position: absolute;
  height: calc(var(--gestMapScale) * 87px);
  width: calc(var(--gestMapScale) * 87px);

  // background-color: yellow;
  // opacity: 0.5;
}

.gest_royal_inspection_track {
  position: absolute;
  height: calc(var(--gestMapScale) * 80px);
  width: calc(var(--gestMapScale) * 80px);
  display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: yellow;
  // opacity: 0.5;
}

.gest_parish_status_box {
  position: absolute;
  height: calc(var(--gestMapScale) * 86px);
  width: calc(var(--gestMapScale) * 86px);
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: yellow;
  // opacity: 0.5;
}

.gest_initiative_track {
  position: absolute;
  height: calc(var(--gestMapScale) * 80px);
  width: calc(var(--gestMapScale) * 80px);
  display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: yellow;
  // opacity: 0.5;
}

#Carriage_usedCarriages {
  position: absolute;
  height: calc(var(--gestMapScale) * 153px);
  width: calc(var(--gestMapScale) * 153px);
  display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: yellow;
  // opacity: 0.5;
}

#MerryMen_prison {
  position: absolute;
  height: calc(var(--gestMapScale) * 184px);
  width: calc(var(--gestMapScale) * 177px);
  display: flex;
  // align-items: center;
  // justify-content: center;
  // background-color: yellow;
  // opacity: 0.5;
}

.gest_track_marker {
  box-sizing: border-box;
  border-radius: 50%;
  border: calc(var(--gestMapScale) * 1px) solid black;
}

#royalFavourMarker {
  background-color: red;
  height: calc(var(--gestMapScale) * 60px);
  width: calc(var(--gestMapScale) * 60px);
}

#royalInspectionMarker {
  background-color: #ffd700;
  height: calc(var(--gestMapScale) * 50px);
  width: calc(var(--gestMapScale) * 50px);
}

#robinHoodEligibilityMarker {
  background-color: #008000;
  height: calc(var(--gestMapScale) * 50px);
  width: calc(var(--gestMapScale) * 50px);
}

#sheriffEligibilityMarker {
  background-color: #c0c0c0;
  height: calc(var(--gestMapScale) * 50px);
  width: calc(var(--gestMapScale) * 50px);
}

.gest_forces {
  position: absolute;
  display: flex;
  gap:  calc(var(--gestMapScale) * 8px);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // background-color: yellow;
  // opacity: 0.5;
}

