/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * A Gest of Robin Hood implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * agestofrobinhood.css
 *
 * agestofrobinhood stylesheet
 *
 */

@use 'sass:math';
@use 'base';
@use 'card-manager/cards';
@use 'card-area/cardArea';
@use 'force-manager/forces';
@use 'game-map/gamemap';
@use 'icons';
@use 'info-panel/infoPanel';
@use "information-modal/informationModal";
@use 'logs/logs';
@use 'settings/settingsModal';
@use 'marker-manager/markers';
@use 'nouislider';
@use 'player-manager/playerPanels';
@use 'player-manager/icon-counter/icon-counter';
@use 'tooltip-manager/tooltip';
@use 'travellers-info-panel/travellersInfoPanel';
@use 'travellers-info-panel/TravellersRow/travellersRow';
@import '../node_modules/bga-cards/bga-cards';

html {
  background-image: url('img/background.jpg');
  // background: url('') rgb(192, 192, 192);
  background-attachment: fixed; // no scroll
  background-position: center; // where to fix picture from
  background-size: cover; // will cover screen but parts of image might be outside screen
}

:root {
  --gestCardScale: 1;
}

/* Note that this must be set on the element itself, since it does not inherit in Chrome, and is not supported in Firefox. */
// #page-content,
// #right-side-first-part {
//   zoom: 1 !important;
// }

#globalaction_zoom_wrap {
  display: none !important;
}

#play_area_container {
  padding: 4px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
}

#gest_discard {
  position: absolute;
  top: -600px;
  left: 150px;
  --gestCardScale: 1;
  // width: 150px;
  // height: 230px;
}

#page-title {
  min-height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagemaintitle_wrap {
  flex-grow: 1;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton,
  #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

#play_area_container[data-two-columns='disabled'] {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* Hide the "You may note something for next time..." popup that would appear. */
#turnBasedNotesIncent {
  display: none;
}

.card-sides {
  position: relative !important;
}

/* Hide player is now online, player is now offline messages */
.notif_playerstatus {
  display: none !important;
}

body.chatbar_ontop {
  /* Prevent the game from scrolling while the game log or chat is visible on mobile. */
  overflow: hidden;
}

// /* latin-ext */
// @font-face {
//   font-family: 'MedievalSharp';
//   font-style: normal;
//   font-weight: 400;
//   src: url(https://fonts.gstatic.com/s/medievalsharp/v26/EvOJzAlL3oU5AQl2mP5KdgptMqZwMinUPDhdog.woff2) format('woff2');
//   unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'MedievalSharp';
//   font-style: normal;
//   font-weight: 400;
//   src: url(https://fonts.gstatic.com/s/medievalsharp/v26/EvOJzAlL3oU5AQl2mP5KdgptMqhwMinUPDg.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }